.orderContainer{
    width: calc(100vw - 240px);
    height: calc(100vh - 50px);
    display: flex;
    background:rgb(227, 235, 249);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.header-top h2{
    margin-left: 20px;
}
.header-top button{
    margin-right: 20px;
    width: 150px;
    height: 50px;
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.wopperOrders{
    width: 90%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    background: rgb(227, 235, 249);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerOrder-head{
    width: 98%;
    display: flex;
    align-items: center;
    background-color: rgb(227, 235, 249);;
    height: 30px;
    align-items: center;
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 25px;
    justify-content: space-around;
    opacity: .3;
}
.wopperOrder-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: 4px;
}
.bodyOrders{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}
.header{
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.deleteIcon{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    margin-bottom: 0;
}
.underWay{
    font-size: 10px;

}
.checkBoxContainer{
    display: flex;
    justify-content: space-around;
}
.updateIcon{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    margin-bottom: 0;
}
.addFoodContainer{
    width: 250px;
    height: 350px;
    background-color:rgb(227, 233, 233);
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    right: 300px;
    top: 150px;
    z-index: 999;
}
.descriptionFood{
    width: 200px;
    height: 50px;
}
.iconAddPhoto{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.iconsAndLogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 100%;
    overflow-x:scroll;
    margin-bottom: 0;
}
.imagesFood{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.dataFood{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: space-around;
    width: 210px;
}
.inputFood{
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    border: none;
}
.inputFood:focus{
    outline: none;
}

.submitBtnAddFood{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(95, 95, 249);
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}
.textareaFood{
    max-width: 200px;
    width: 200px;
    max-height: 80px;
}
.imgfd{
    width: 50px;
    height: 50px;
}